<div class="login-container">
  <header class="login-header">
    <div class="login-header-left">
      <img src="assets/fb-logo-1.jpg" />
      <h2>
        Facebook helps you connect and share with the people in your life.
      </h2>
    </div>

    <div class="login-header-right">
      <mat-card class="login-header-right-card">
        <mat-card-content>
          <form #form="ngForm" class="login-form" (ngSubmit)="login(form)">
            <input
              type="text"
              name="email"
              ngModel
              placeholder="Email address"
            />
            <input
              type="password"
              name="password"
              ngModel
              placeholder="Password"
            />
            <button
              class="login-button"
              type="submit"
              [disabled]="form.invalid || form.pending"
            ></button>
          </form>
          <a href="#">Forgot password?</a>
          <button class="create-account" (click)="onRegister()">
            Create New Account
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </header>

  <footer>
    <img src="assets/footer_crop.jpg" alt="" />
  </footer>
</div>
